@{
    ViewBag.Title = "Contacts";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<script src="~/bower_components/angular/angular.min.js"></script>
	<script src="~/bower_components/angular-route/angular-route.min.js"></script>
	<script src="~/App/js/app.js"></script>
</head>
<body ng-app="contacts">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#/" class="navbar-brand">Contacts</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#/create">Create</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container body-content">
		<div ng-view></div>
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Contacts app (C)</p>
		</footer>
	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>